DATABASE_URL=postgresql+psycopg://postgres:comerical1232025.@tc5u8q.easypanel.host:5434/comercial?sslmode=disable
SECRET_KEY=super-secret-key-change-in-production
ADMIN_EMAIL=admin@puestos.com
ADMIN_PASSWORD=admin123
ADMIN_NAME=Admin
UPLOAD_DIR=/app/uploads
